In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('titanic.csv')

In [4]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [5]:
!pip install pandas-profiling

Collecting pandas-profiling
  Downloading pandas_profiling-3.4.0-py2.py3-none-any.whl (315 kB)
Collecting htmlmin==0.1.12
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
Requirement already satisfied: numpy<1.24,>=1.16.0 in c:\users\cheta\anaconda3\lib\site-packages (from pandas-profiling) (1.21.5)
Requirement already satisfied: matplotlib<3.6,>=3.2 in c:\users\cheta\anaconda3\lib\site-packages (from pandas-profiling) (3.5.1)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\cheta\anaconda3\lib\site-packages (from pandas-profiling) (2.11.3)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in c:\users\cheta\anaconda3\lib\site-packages (from pandas-profiling) (0.11.2)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\cheta\anaconda3\lib\site-packages (from pandas-profiling) (6.0)
Requirement already satisfied: pandas!=1.4.0,<1.6,>1.1 in c:\users\cheta\anaconda3\lib\site-packages (from pandas-profiling) (1.4.2)
Collecting visions[type_image_path]==0.7.5
  Downloading visions-0.7.5-py3-none-any.whl (102 kB)
Requirement already satisfied: scipy<1.10,>=1.4.1 in c:\users\cheta\anaconda3\lib\site-packages (from pandas-profiling) (1.7.3)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in c:\users\cheta\anaconda3\lib\site-packages (from pandas-profiling) (4.64.0)
Collecting phik<0.13,>=0.11.1
  Downloading phik-0.12.2-cp39-cp39-win_amd64.whl (685 kB)
Requirement already satisfied: requests<2.29,>=2.24.0 in c:\users\cheta\anaconda3\lib\site-packages (from pandas-profiling) (2.27.1)
Collecting multimethod<1.10,>=1.4
  Downloading multimethod-1.9-py3-none-any.whl (10 kB)
Requirement already satisfied: statsmodels<0.14,>=0.13.2 in c:\users\cheta\anaconda3\lib\site-packages (from pandas-profiling) (0.13.2)
Collecting pydantic<1.11,>=1.8.1
  Downloading pydantic-1.10.2-cp39-cp39-win_amd64.whl (2.1 MB)
Collecting missingno<0.6,>=0.4.2
  Downloading missingno-0.5.1-py3-none-any.whl (8.7 kB)
Collecting tangled-up-in-unicode>=0.0.4
  Downloading tangled_up_in_unicode-0.2.0-py3-none-any.whl (4.7 MB)
Requirement already satisfied: networkx>=2.4 in c:\users\cheta\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (2.7.1)
Requirement already satisfied: attrs>=19.3.0 in c:\users\cheta\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (21.4.0)
Requirement already satisfied: Pillow in c:\users\cheta\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (9.0.1)
Collecting imagehash
  Downloading ImageHash-4.3.1-py2.py3-none-any.whl (296 kB)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\cheta\anaconda3\lib\site-packages (from jinja2<3.2,>=2.11.1->pandas-profiling) (2.0.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\cheta\anaconda3\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\cheta\anaconda3\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\cheta\anaconda3\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (4.25.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\cheta\anaconda3\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\cheta\anaconda3\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\cheta\anaconda3\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (0.11.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\cheta\anaconda3\lib\site-packages (from pandas!=1.4.0,<1.6,>1.1->pandas-profiling) (2021.3)
Requirement already satisfied: joblib>=0.14.1 in c:\users\cheta\anaconda3\lib\site-packages (from phik<0.13,>=0.11.1->pandas-profiling) (1.1.0)
Requirement already satisfied: typing-extensions>=4.1.0 in c:\users\cheta\anaconda3\lib\site-packages (from pydantic<1.11,>=1.8.1->pandas-profiling) (4.1.1)
Requirement already satisfied: six>=1.5 in c:\users\cheta\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib<3.6,>=3.2->pandas-profiling) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\cheta\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\cheta\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\cheta\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\cheta\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (2021.10.8)
Requirement already satisfied: patsy>=0.5.2 in c:\users\cheta\anaconda3\lib\site-packages (from statsmodels<0.14,>=0.13.2->pandas-profiling) (0.5.2)
Requirement already satisfied: colorama in c:\users\cheta\anaconda3\lib\site-packages (from tqdm<4.65,>=4.48.2->pandas-profiling) (0.4.4)
Requirement already satisfied: PyWavelets in c:\users\cheta\anaconda3\lib\site-packages (from imagehash->visions[type_image_path]==0.7.5->pandas-profiling) (1.3.0)
Building wheels for collected packages: htmlmin
  Building wheel for htmlmin (setup.py): started
  Building wheel for htmlmin (setup.py): finished with status 'done'
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27096 sha256=ad5286d83f4a1a0e6651b7c842e467198107854c68137cde4e8090edbb359a6e
  Stored in directory: c:\users\cheta\appdata\local\pip\cache\wheels\1d\05\04\c6d7d3b66539d9e659ac6dfe81e2d0fd4c1a8316cc5a403300
Successfully built htmlmin
Installing collected packages: tangled-up-in-unicode, multimethod, visions, imagehash, pydantic, phik, missingno, htmlmin, pandas-profiling
Successfully installed htmlmin-0.1.12 imagehash-4.3.1 missingno-0.5.1 multimethod-1.9 pandas-profiling-3.4.0 phik-0.12.2 pydantic-1.10.2 tangled-up-in-unicode-0.2.0 visions-0.7.5

In [7]:
from pandas_profiling import ProfileReport
profile = ProfileReport(df, title="Pandas Profiling Report")
profile.to_file("your_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [11]:
aug_train = pd.read_csv('aug_train.csv')

In [12]:
aug_train.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0

In [13]:
from pandas_profiling import ProfileReport
profile = ProfileReport(aug_train, title="Aug_train Profiling Report")
profile.to_file("aug_train_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]