In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('customer.csv')
df.sample(5)

    age  gender   review education purchased
32   92    Male  Average        UG       Yes
8    65  Female  Average        UG        No
15   75    Male     Poor        UG        No
40   39    Male     Good    School        No
25   57  Female     Good    School        No

In [3]:
df = df.iloc[:,2:]

In [5]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(df.iloc[:,0:2], df.iloc[:,-1], test_size=0.2)

In [31]:
X_train.shape

(40, 2)

In [32]:
X_train

     review education
45     Poor        PG
17     Poor        UG
29  Average        UG
27     Poor        PG
42     Good        PG
3      Good        PG
49     Good        UG
28     Poor    School
19     Poor        PG
33     Good        PG
30  Average        UG
38     Good    School
4   Average        UG
8   Average        UG
31     Poor    School
5   Average    School
36     Good        UG
48     Good        UG
14     Poor        PG
34  Average    School
37  Average        PG
46     Poor        PG
35     Poor    School
12     Poor    School
18     Good    School
21  Average        PG
16     Poor        UG
41     Good        PG
20  Average    School
6      Good    School
11     Good        UG
25     Good    School
22     Poor        PG
0   Average    School
47     Good        PG
39     Poor        PG
23     Good    School
2      Good        PG
15     Poor        UG
9      Good        UG

In [33]:
from sklearn.preprocessing import OrdinalEncoder

In [34]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School', 'UG', 'PG']])

In [35]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [36]:
X_train = oe.transform(X_train)

In [37]:
X_train.shape

(40, 2)

In [38]:
X_train

array([[0., 2.],
       [0., 1.],
       [1., 1.],
       [0., 2.],
       [2., 2.],
       [2., 2.],
       [2., 1.],
       [0., 0.],
       [0., 2.],
       [2., 2.],
       [1., 1.],
       [2., 0.],
       [1., 1.],
       [1., 1.],
       [0., 0.],
       [1., 0.],
       [2., 1.],
       [2., 1.],
       [0., 2.],
       [1., 0.],
       [1., 2.],
       [0., 2.],
       [0., 0.],
       [0., 0.],
       [2., 0.],
       [1., 2.],
       [0., 1.],
       [2., 2.],
       [1., 0.],
       [2., 0.],
       [2., 1.],
       [2., 0.],
       [0., 2.],
       [1., 0.],
       [2., 2.],
       [0., 2.],
       [2., 0.],
       [2., 2.],
       [0., 1.],
       [2., 1.]])

In [39]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [49]:
from sklearn.preprocessing import LabelEncoder

In [51]:
le = LabelEncoder()

In [52]:
le.fit(Y_train)

LabelEncoder()

In [53]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [56]:
y_train = le.transform(Y_train)
y_test = le.transform(Y_test)

In [57]:
Y_train

45    Yes
17    Yes
29    Yes
27     No
42    Yes
3      No
49     No
28     No
19    Yes
33    Yes
30     No
38     No
4      No
8      No
31    Yes
5     Yes
36    Yes
48    Yes
14    Yes
34     No
37    Yes
46     No
35    Yes
12     No
18     No
21     No
16    Yes
41    Yes
20    Yes
6      No
11    Yes
25     No
22    Yes
0      No
47    Yes
39     No
23     No
2      No
15     No
9     Yes
Name: purchased, dtype: object

In [58]:
y_train

array([1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1])